@import "fotos";

$dark-color: #212529;
$XXL: xx-large !important;

.paddingRight {
    padding-right: 15px !important;
}

.titular1 {
    @extend .titular2;
    margin-bottom: 5% !important;
    
}

.titular2 {
    font-size: $XXL;
}

.titular3 {
    @extend .titular2;
    margin-top: 50px !important;
}

.navbar {
    background-color: $dark-color;
}

.container-fluid {
    a.navbar-brand{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        &:hover {
            opacity: 75%;
        }
    }
}

.btn{
    &.btn-lg{
        background-color: $dark-color;
        color: white !important;
        &:hover{
            color: white !important;
            background-color: $dark-color;
            opacity: 75%;
        }
    }
}


  html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#botonEnviar{
    display: flex;
    justify-content: center;
}

#loginBackground {
    background-color: $dark-color;
}

.d-flex.flex-row.align-items-center.mb-4 {
    align-items: baseline !important;
}

#fotoLogin {
    border-radius: 25px;
}

#footerLogin {
    background-color: $dark-color;
    color: white;
    width: 100%;
    
}