* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "login login"
    "footer footer";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100px auto 100px;
}

header {
  grid-area: header;
  background-color: #212529;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}
header .nombre h1 {
  position: absolute;
  left: 110px;
  top: 15px;
  color: white;
  font-size: 60px;
  font-family: "Raleway", serif !important;
}

main.mt-5 {
    grid-area: login;
    background-color: #212529;
}

footer {
  grid-area: footer;
  background-color: #212529;
}

#logo {
  height: 70px;
  width: 70px;
}

#logo:hover {
  opacity: 20%;
}

.itemsNav {
  text-decoration: none !important;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 15px;
  height: 60px;
}

.itemsNav:hover {
  opacity: 50%;
}

.navMenu {
  background-color: #212529;
  display: flex;
  justify-content: start;
  padding: 0px;
  align-items: center;
  height: 60px;
}

#formContent {
  border-radius: 10px 10px 10px 10px;
  background: white;
  padding: 30px;
  width: 100%;
  max-width: 800px;
  position: absolute;
  top: 25%;
  left: 5%;
  padding: 40px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 310px;
  font-family: "Raleway", serif !important;
  text-align: center;
}
#username, #clave {
  width: 300px;
}
#logoLogin {
  width: 333px;
  height: 300px;
  padding-right: 70px;
  margin-right: 50px;
}

.formularioLogin {
  padding: 10px;
  padding-left: 20px;
}

#inicio {
    padding: 10px;
    background-color: lightskyblue;
    border: 1px solid #212529;
    
}