* {
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
      display: grid;
      grid-template-areas: 
      "header header"
      "sectionA sectionB"
      "footer footer"
      ;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 100px auto 100px;
  }
  
  header {
      grid-area: header;
      background-color: #212529;
      display: flex;
      justify-content: space-between;
      padding: 30px;
      align-items: center;
  }
  header .nombre h1 {
    position: absolute;
    left: 110px;
    top: 15px;
    color: white;
    font-size: 60px;
    font-family: "Raleway", serif !important;
  }
  footer {
      grid-area: footer;
      background-color: #212529;
  }
  
  section#carrousel {
    display: flex;
      grid-area: sectionB;
      justify-content: space-around;
      background-color: #EBEBEB;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0px;
      align-content: center;
  }

  
  section#fraseGrande {
    grid-area: sectionA;
    display: flex;
    align-items: center;
    font-size: 40px;
    background-color: #212529;
    color: white;
    text-align: center;
  }
  .navMenu {
    background-color: #212529;
    display: flex;
    justify-content: start;
    padding: 0px;
    align-items: center;
    height: 60px;
  }

  .fotoCarrousel {
    height: 200px;
    width: 200px;
  }

  .itemsNav {
    text-decoration: none!important;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    height: 60px;
  }

  .itemsNav:hover {
    opacity: 50%;
  }

  #logo {
    height: 70px;
    width: 70px;
  }

  #logo:hover {
    opacity: 20%;
  }

 

 



