.titular1 {
    margin-bottom: 5% !important;
    font-size: xx-large !important;
}

.titular2 {
    font-size: xx-large !important;
}

.titular3 {
    font-size: xx-large !important;
    margin-top: 50px !important;
}

